@model IEnumerable<Data.Entities.Message>

@{
    ViewData["Title"] = "";
}

<table class="table">
    <tbody>

    @foreach (var item in Model) {

            @if(Model.FirstOrDefault().FirstUser.Messages.Contains(item))
            {
                <tr style="color: mediumvioletred">
            <td> 
                          
                 @if (Model.FirstOrDefault().FirstUser.Photos.Count > 0)
                {
                            <img src="~/Photos/@Model.FirstOrDefault().SecondUser.Photos.FirstOrDefault().Path" height="50" width="50" />
                }
                    @Html.DisplayFor(modelItem => item.FirstUser.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Text)
            </td>
                </tr>
            }

            @if (!(Model.FirstOrDefault().FirstUser.Messages.Contains(item)))
            {
                <tr style="color: darkslategrey">
                    <td>
                 @if (Model.FirstOrDefault().FirstUser.Photos.Count > 0)
                {
                            <img src="~/Photos/@Model.FirstOrDefault().FirstUser.Photos.FirstOrDefault().Path" height="50" width="50" />
                        }
                        @Html.DisplayFor(modelItem => item.FirstUser.Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                </tr>
            }
      }
    </tbody>
</table>
