@model Data.Entities.Message

@{
    ViewData["Title"] = "Messenger";
}

<div class="form-wrapper  wide">
    <div class="form-content">
        <div class="form-header">
            <h2 class="form-title">Our Messenger</h2>
        </div>
        <form asp-action="SendMessage">
            <div asp-validation-summary="ModelOnly" class="validation-message"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textfield asp-for="Text" class="form-input" placeholder="Content"></textfield>
                <span asp-validation-for="Text" class="validation-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondUserId" class="control-label"></label>
                <input asp-for="SecondUserId" required class="form-input" placeholder="Recipient" />
                <span asp-validation-for="SecondUserId" class="validation-message"></span>
            </div>
            <div class="button-wrapper">
                <input type="submit" value="Submit" class="button primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

