/**
 * 
 * ---------------- Basic Colors ----------------
 * 
 */
/**
 * 
 * ---------------- Light Colors ----------------
 * 
 */
/**
 * 
 * ---------------- Dark Colors ----------------
 * 
 */
.list-container.message-list {
  margin-top: 50px;
  display: grid;
  gap: 12px;
  justify-content: center;
  background-color: #FFFFFF;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px;
  border-radius: 16px;
  border: 2px solid rgba(143, 143, 143, 0.3);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-sizing: border-box;
}
.list-container.message-list .message-row {
  padding: 12px 30px;
  border-radius: 16px;
  transition: 0.2s ease-in-out;
  width: 400px;
}
.list-container.message-list .message-row.section-title:hover {
  background-color: transparent;
}
.list-container.message-list .message-row.section-title::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgba(143, 143, 143, 0.2);
  margin-top: 12px;
}
.list-container.message-list .message-row:hover {
  background-color: rgba(187, 187, 187, 0.4);
  text-decoration: none;
}
.list-container.message-list .message-row:hover .message-row-content .header-wrapper h2 {
  color: #111111;
}
.list-container.message-list .message-row:hover .message-row-content i {
  color: #111111;
  transform: translateX(0);
}
.list-container.message-list .message-row .message-row-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-container.message-list .message-row .message-row-content .header-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.list-container.message-list .message-row .message-row-content .header-wrapper .image-wrapper.rounded img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.list-container.message-list .message-row .message-row-content .header-wrapper h2 {
  color: #404258;
  transition: 0.1s ease-in-out;
}
.list-container.message-list .message-row .message-row-content i {
  color: #404258;
  color: transparent;
  transform: translateX(-10px);
  transition: 0.2s ease-in-out;
}
.list-container.message-list.wide {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.list-container.message-list.wide .message-row {
  width: unset;
  width: 1000px;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}
.list-container.message-list.wide .message-row.section-title {
  width: 100%;
}
.list-container.message-list.wide .chat-wrapper {
  height: 60vh;
  overflow-y: scroll;
}
.list-container.message-list.wide .chat-wrapper .message-item {
  padding: 2px 30px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.list-container.message-list.wide .chat-wrapper .message-item.right {
  justify-content: flex-end;
}
.list-container.message-list.wide .chat-wrapper .message-item .message-user-image img {
  width: 50px;
  height: 50px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.list-container.message-list.wide .chat-wrapper .message-item.left .message-wrapper .username {
  text-align: left;
}
.list-container.message-list.wide .chat-wrapper .message-item.left .message-wrapper .message-text {
  background-color: rgba(107, 107, 107, 0.2);
  border-radius: 0 22px 22px 22px;
  color: #404258;
}
.list-container.message-list.wide .chat-wrapper .message-item .message-wrapper .username {
  margin-bottom: 5px;
  text-align: right;
}
.list-container.message-list.wide .chat-wrapper .message-item .message-wrapper .message-text {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #F1A661;
  color: #111111;
  padding: 10px 20px;
  border-radius: 22px 0 22px 22px;
}
.list-container.message-list.wide .textbox-wrapper {
  width: 100%;
  padding: 0;
}
.list-container.message-list.wide .textbox-wrapper .textbox-content {
  display: flex;
  gap: 4px;
}
.list-container.message-list.wide .textbox-wrapper .textbox-content .chat-textbox-input {
  width: 100%;
  font-size: 1em;
  border-radius: 8px;
  padding: 12px 15px;
  border: 2px solid rgba(99, 99, 99, 0.2);
  border-radius: 10px;
}
.list-container.message-list.wide .textbox-wrapper .textbox-content .chat-textbox-input::-moz-placeholder {
  color: rgba(17, 17, 17, 0.3882352941);
}
.list-container.message-list.wide .textbox-wrapper .textbox-content .chat-textbox-input:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.3882352941);
}
.list-container.message-list.wide .textbox-wrapper .textbox-content .chat-textbox-input::placeholder {
  color: rgba(17, 17, 17, 0.3882352941);
}
.list-container.message-list.wide .textbox-wrapper .textbox-content .send-button {
  background-color: #0d6efd;
  color: #EEEEEE;
  font-size: 1em;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}/*# sourceMappingURL=messages.css.map */