<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Link</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/styles/main/main.css">
    <link rel="stylesheet" href="~/styles/messages/messages.css">
    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/lib/main.js"></script>
</head>
<body style="flex-wrap: wrap">
    <div id="root">
        <nav>
            @await Component.InvokeAsync("Navigation")
        </nav>

        <div class="content">
            @RenderBody()
        </div>

        <div id="footer">
            <p>
                &copy; 2022 - Link - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </p>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
