<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Link</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/styles/main/main.css">

    <!-- Scripts -->
    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div id="root">
        <nav>
            <div class="logo">
                <a class="button dummy">Log in</a>
                <a class="button dummy">Sign up</a>
                <a href="/" class="logo-text">Link</a>
            </div>
            <div class="regular nav-links">
                <ul>
                    <a href="/" class="nav-link"><li class="nav-item">Home</li></a>
                    <a href="/" class="nav-link"><li class="nav-item">Love</li></a>
                    <a href="/" class="nav-link"><li class="nav-item">Just chat</li></a>
                    <a href="/" class="nav-link"><li class="nav-item">Friendzone</li></a>
                </ul>
            </div>
            <div class="regular nav-auth">
                <a asp-area="" asp-controller="Account" asp-action="Login" class="button link-primary">Log In</a>
                <a asp-area="" asp-controller="Account" asp-action="Register" class="button primary">Sign Up</a>
            </div>
            <button class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>

        <div class="content">
            @RenderBody()
        </div>

        <div id="footer">
            <p>
                &copy; 2022 - Link - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </p>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
