/**
 * 
 * ---------------- Basic Colors ----------------
 * 
 */
/**
 * 
 * ---------------- Light Colors ----------------
 * 
 */
/**
 * 
 * ---------------- Dark Colors ----------------
 * 
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  /**
   * ---------------- BUTTONS ----------------
   */
}
html p, html h1, html h2, html h3, html h4, html h5, html h6 {
  margin: 0;
}
html a, html .link {
  color: #0d6efd;
  text-decoration: none;
  cursor: pointer;
}
html a:hover, html .link:hover {
  text-decoration: underline;
}
html a.button, html .link.button {
  text-decoration: none;
}
html a.button:hover, html .link.button:hover {
  text-decoration: none;
}
html .font-dimmed {
  color: rgba(17, 17, 17, 0.6705882353);
}
html .image.image-rounded {
  padding: 12px;
  border-radius: 50%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
html .font-blue {
  color: #0d6efd;
}
html .button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 6px;
}
html .button:active {
  transform: scale(0.9);
}
html .button.dummy {
  visibility: hidden;
  pointer-events: none;
}
html .button.link-primary {
  color: #E38B29;
  font-weight: 500;
}
html .button.link-primary:hover {
  text-decoration: underline;
}
html .button.link-primary:active {
  transform: none;
}
html .button.primary {
  background-color: #F1A661;
  color: #EEEEEE;
  font-weight: 700;
}
html .button.primary:hover {
  background-color: #E38B29;
}
html .button.outline-primary {
  border: 2px solid #F1A661;
  color: #E38B29;
  font-weight: 700;
}
html .button.outline-primary:hover {
  background-color: #F1A661;
  color: #EEEEEE;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 12px;
}
.d-flex.justify-center {
  justify-content: center;
}
.d-flex.justify-between {
  justify-content: space-between;
}

body {
  background-color: #EEEEEE;
  font-family: "Roboto", sans-serif;
  color: #404258;
  display: flex;
  justify-content: center;
}
body .section-headline {
  margin: 12px 0;
}
body .section-headline .divider {
  display: block;
  width: 100%;
  background-color: rgba(152, 152, 152, 0.2);
  height: 2px;
}
body .section-headline .title {
  padding: 8px 0;
  color: rgba(113, 113, 113, 0.9);
  font-weight: 500;
  text-transform: uppercase;
}
body .section-headline .action-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .section-headline .action-title .title {
  padding: 8px 0;
  color: rgba(113, 113, 113, 0.9);
  font-weight: 500;
  text-transform: uppercase;
}
body #root {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  /**
      * ---------------- NAVBAR ----------------
      */
}
body #root nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
body #root nav .nav-auth {
  position: relative;
}
body #root nav .nav-auth .dropdown-toggle.button .image {
  box-shadow: none;
  width: 30px;
  height: 30px;
  padding: 2px;
}
body #root nav .nav-auth .dropdown-content {
  z-index: 1000;
  position: absolute;
  right: 15px;
  top: 50px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  padding: 10px 0;
  border: 2px solid rgba(17, 17, 17, 0.2);
  border-radius: 12px;
  min-width: 240px;
  transition: 0.2s ease-in-out;
}
body #root nav .nav-auth .dropdown-content.hidden {
  display: none;
}
body #root nav .nav-auth .dropdown-content .dropdown-header h2 {
  font-size: 1em;
  font-weight: 400;
  padding: 0 12px 10px 12px;
}
body #root nav .nav-auth .dropdown-content .dropdown-header h2 span {
  font-weight: 800;
}
body #root nav .nav-auth .dropdown-content .dropdown-header::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(17, 17, 17, 0.1);
  margin: 0;
}
body #root nav .nav-auth .dropdown-content ul {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  list-style-type: none;
}
body #root nav .nav-auth .dropdown-content ul li {
  padding: 8px 14px;
  margin: 10px 0;
}
body #root nav .nav-auth .dropdown-content ul li a {
  color: rgba(17, 17, 17, 0.6705882353);
  transition: 0.2s ease-in-out;
}
body #root nav .nav-auth .dropdown-content ul li:hover {
  background-color: #eee;
}
body #root nav .nav-auth .dropdown-content ul li:hover a {
  color: #3C4048;
  text-decoration: none;
}
body #root nav .nav-auth .dropdown-content ul li.danger {
  background-color: #be0000;
  border-radius: 8px;
  text-align: center;
  margin: 0 12px;
}
body #root nav .nav-auth .dropdown-content ul li.danger a {
  color: #EEEEEE;
  font-weight: 600;
}
body #root nav .menu-toggle {
  display: none;
}
body #root nav .logo {
  position: relative;
}
body #root nav .logo .logo-text {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 2em;
  color: #404258;
  text-decoration: none;
  font-weight: 700;
}
body #root nav .nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}
body #root nav .nav-links ul .nav-link {
  color: #3C4048;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: 0.2s ease-in-out;
}
body #root nav .nav-links ul .nav-link:hover {
  color: #E38B29;
  transform: translateY(-2px);
}
body #root nav .nav-links ul .nav-link::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  transition: 0.2s ease-in-out;
}
body #root nav .nav-links ul .nav-link.active {
  color: #F1A661;
}
body #root nav .nav-links ul .nav-link.active::after {
  background-color: #F1A661;
}
body #root nav .nav-auth {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 760px) {
  body #root nav .regular {
    display: none;
  }
  body #root nav .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
  }
  body #root nav .menu-toggle:hover span:nth-of-type(1) {
    transform: translateX(1px);
  }
  body #root nav .menu-toggle:hover span:nth-of-type(2) {
    transform: translateX(-1px);
  }
  body #root nav .menu-toggle:hover span:nth-of-type(3) {
    transform: translateX(1px);
  }
  body #root nav .menu-toggle span {
    transition: 0.2s ease-in-out;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #404258;
  }
}
body #root .content #results-container {
  margin-top: 30px;
}
body #root .content .form-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
body #root .content .form-wrapper .form-content {
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
body #root .content .form-wrapper .form-content .form-header {
  margin-bottom: 12px;
}
body #root .content .form-wrapper .form-content .form-header .form-title {
  font-size: 2em;
  margin-bottom: 10px;
  color: #404258;
  font-weight: 500;
}
body #root .content .form-wrapper .form-content form {
  margin-top: 28px;
}
body #root .content .form-wrapper .form-content form span.validation-message {
  color: #be0000;
}
body #root .content .form-wrapper .form-content form span.validation-message.field-validation-error {
  margin: 6px 4px;
}
body #root .content .form-wrapper .form-content form .validation-message ul {
  list-style-type: none;
  padding: 0;
}
body #root .content .form-wrapper .form-content form .validation-message ul li {
  padding: 12px 20px;
  color: #be0000;
  background-color: rgb(248, 215, 218);
  border-radius: 8px;
  border: 2px solid rgb(245, 194, 199);
}
body #root .content .form-wrapper .form-content form .form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}
body #root .content .form-wrapper .form-content form .form-group label {
  color: rgba(17, 17, 17, 0.6705882353);
}
body #root .content .form-wrapper .form-content form .form-group input.form-input {
  width: 360px;
  padding: 12px 15px;
  border: none;
  border: 2px solid rgba(99, 99, 99, 0.2);
  border-radius: 8px;
}
body #root .content .form-wrapper .form-content form .form-group input.form-input::-moz-placeholder {
  color: rgba(17, 17, 17, 0.3882352941);
}
body #root .content .form-wrapper .form-content form .form-group input.form-input::placeholder {
  color: rgba(17, 17, 17, 0.3882352941);
}
body #root .content .form-wrapper .form-content form .button-wrapper {
  margin-top: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
body #root .content .warning-message {
  background-color: #fff3cd;
  color: #664d03;
  padding: 18px 10px;
  border: 2px solid #ffe69c;
  border-radius: 8px;
}
body #root .content .form-horizontal {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body #root .content .form-horizontal .input-wrapper {
  display: flex;
  gap: 20px;
}
body #root .content .form-horizontal .button {
  display: flex;
  height: 100%;
  margin-top: 30px;
}
body #root .content .form-horizontal .form-input {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}
body #root .content .form-horizontal .form-input label {
  margin-left: 5px;
}
body #root .content .form-horizontal .form-input input, body #root .content .form-horizontal .form-input select {
  min-width: 170px;
  border: 2px solid rgba(17, 17, 17, 0.2);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}
body #root .content .form-horizontal .form-input input:focus, body #root .content .form-horizontal .form-input select:focus {
  border: 2px solid #0d6efd;
  outline: none;
}
body #root .content .form-horizontal .form-input input::-moz-placeholder, body #root .content .form-horizontal .form-input select::-moz-placeholder {
  color: rgba(17, 17, 17, 0.3882352941);
}
body #root .content .form-horizontal .form-input input::placeholder, body #root .content .form-horizontal .form-input select::placeholder {
  color: rgba(17, 17, 17, 0.3882352941);
}
body #root .content .form-horizontal .form-input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body #root .content .user-settings-content .detail-info-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 12px;
  padding-top: 30px;
  padding-bottom: 20px;
}
body #root .content .user-settings-content .detail-info-section .info-col {
  text-align: right;
  font-weight: 500;
  color: #111;
  padding: 8px 0;
}
body #root .content .user-settings-content .detail-info-section .data-col {
  padding: 8px 0;
}
body #root .content .user-settings-content .detail-info-section .gold-col {
  padding: 8px 0;
}
body #root .content .user-settings-content .detail-info-section .premium-col {
  display: flex;
  flex-direction: row;
}
body #root .content .options-section .image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 20px;
  padding-bottom: 50px;
  gap: 30px;
}
body #root .content .options-section .image-grid .image-tile {
  overflow: hidden;
  position: relative;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
  border: 2px solid rgba(17, 17, 17, 0.2);
  transition: 0.2s ease-in-out;
}
body #root .content .options-section .image-grid .image-tile:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
body #root .content .options-section .image-grid .image-tile img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}
body #root .content .options-section .image-grid .image-tile .title {
  position: absolute;
  bottom: 0;
  padding: 24px 18px;
}
body #root .content .options-section .image-grid .image-tile .title h2 {
  color: #EEEEEE;
  font-size: 3em;
  text-shadow: -5px 1px 46px rgb(66, 68, 90);
}
body #root .content .options-section .image-grid .image-tile .title h2.font-accent {
  text-shadow: -5px 1px 46px rgba(66, 68, 90, 0.1);
}
body #root .content .options-section .image-grid .image-tile .title p {
  color: #EEEEEE;
  font-size: 1.4em;
  text-shadow: -5px 1px 46px rgb(66, 68, 90);
}
body #root .content .options-section .image-grid .image-tile:hover {
  border-color: #5F9DF7;
}
body #root .content .content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #root .content .content-section .image-wrapper img {
  width: 250px;
  height: 250px;
}
body #root #footer {
  margin-top: 40px;
  padding-bottom: 50px;
  text-align: center;
  padding-bottom: 45px;
}/*# sourceMappingURL=main.css.map */