
@{
    ViewData["Title"] = "LoggedIn";
}

<div class="options-section">
    <div class="section-headline">
        <span class="divider f-w"></span>
    </div>
    <div class="image-grid">
        <a href="/relation/loosewriting" class="image-tile">
            <img src="~/Photos/banners/chat-banner.jpg" />
            <div class="title">
                <h2>Just chat</h2>
                <p></p>
            </div>
        </a>
        <a href="/relation/love" class="image-tile">
            <img src="~/Photos/banners/love-banner.jpg" />
            <div class="title">
                <h2>Love</h2>
                <p>For all of the hopeless romantics out there</p>
            </div>
        </a>
        <a href="/relation/friendship" class="image-tile">
            <img src="~/Photos/banners/friends-banner.jpg" />
            <div class="title">
                <h2>Friendship</h2>
                <p>Find your soulmate</p>
            </div>
        </a>
    </div>
</div>