@model Service.Services.ViewModels.User.UserRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="form-wrapper">
    <div class="form-content">
        <div class="form-header">
            <h2 class="form-title">Sign Up</h2>
            <p class="font-dimmed">Already have an account? <a asp-action="Login" class="link">Log In</a></p>
        </div>
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="validation-message"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-input" placeholder="email@example.com" />
                <span asp-validation-for="Email" class="validation-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-input" placeholder="Strong password" />
                <span asp-validation-for="Password" class="validation-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-input" placeholder="Confirm password" />
                <span asp-validation-for="ConfirmPassword" class="validation-message"></span>
            </div>
            <div class="button-wrapper">
                <input type="submit" value="Continue" class="button primary" />
            </div>
        </form>
    </div>
</div>