@model Service.Models.Relation.GetRelationViewModel

@{
    ViewData["Title"] = "LooseWriting";
}

<h1>LooseWriting</h1>

<hr />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LooseWriting">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
                
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
  var form = document.querySelector('form'); // zlokalizuj formularz na stronie
  form.addEventListener('submit', function(event) { // nasłuchuj na zdarzenia wysyłki formularza
    event.preventDefault(); // zapobiegaj domyślnej akcji (wysłaniu formularza)
            window.location.href = "https://localhost:7014/User/GetProfiles/@Model.RelId"; // przekieruj użytkownika na inną stronę
  });
});

</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
