@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #eee;
  color: #111;
  height: 100%;
  /**
   *
   *   ----------------- TEXT -----------------
   *
   */
  /**
   *
   *   ----------------- BUTTONS & LINKS -----------------
   *
   */
  /**
   *
   *   ----------------- INPUTS -----------------
   *
   */
  /**
   *
   *   ----------------- UTILITY CONTAINERS -----------------
   *
   */
  /**
   *
   *   ----------------- NAVBAR -----------------
   *
   */
  /**
   *
   *   ----------------- CONTENT CONTAINER -----------------
   *
   */
}
body #root {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
body.dark {
  background-color: #111;
  color: #eee;
}
body .text-accent {
  color: #EF9A53;
}
body .text-danger {
  color: #be0000;
}
body .text-dimmed {
  color: rgba(17, 17, 17, 0.7);
}
body button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
body button.primary {
  background-color: #EF9A53;
  padding: 12px 32px;
  color: #eee;
  transition: 0.2s ease-in-out;
}
body button.primary:hover {
  transition: 0.2s ease-in-out;
  background-color: #FF9551;
}
body button.primary:active {
  transition: 0.1s ease-in-out;
  transform: scale(0.96);
}
body button.link {
  color: #0d6efd;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
body button.link:hover {
  text-decoration: underline;
}
body button.full-width {
  width: 100%;
}
body button.capsule {
  border-radius: 26px;
}
body .button-wrapper {
  width: 100%;
  text-align: center;
}
body .button-wrapper.disabled button.primary {
  background-color: #ddd;
  color: rgba(17, 17, 17, 0.7);
  cursor: default;
  pointer-events: none;
}
body .form-error-message {
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}
body .input-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 10px 8px 18px;
  border-radius: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid rgba(17, 17, 17, 0.1);
  transition: 0.2s ease-in-out;
  cursor: text;
}
body .input-wrapper.focus {
  border-color: #0d6efd;
}
body .input-wrapper.error {
  border-color: #be0000;
}
body .input-wrapper.full-width {
  width: 100%;
  box-sizing: border-box;
}
body .input-wrapper.full-width input {
  width: 100%;
}
body .input-wrapper.plain {
  box-shadow: none;
  padding: 0;
}
body .input-wrapper.plain input {
  padding: 8px 10px 8px 18px;
}
body .input-wrapper input {
  border: none;
  outline: none;
  width: 250px;
  background-color: transparent;
  border-radius: 30px;
}
body .input-wrapper input::-moz-placeholder {
  color: rgba(17, 17, 17, 0.4);
}
body .input-wrapper input:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.4);
}
body .input-wrapper input::placeholder {
  color: rgba(17, 17, 17, 0.4);
}
body .input-wrapper i {
  color: rgba(17, 17, 17, 0.4);
}
body .display-none {
  display: none;
}
body .flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .flex-wrapper.column {
  flex-direction: column;
}
body .mt-5 {
  margin-top: 50px;
}
body .mt-4 {
  margin-top: 40px;
}
body .mt-3 {
  margin-top: 30px;
}
body .mt-2 {
  margin-top: 20px;
}
body .mt-1 {
  margin-top: 10px;
}
body .navbar-space-fillout {
  position: relative;
}
body .navbar-space-fillout button {
  visibility: hidden;
  pointer-events: none;
}
body .navbar-space-fillout h2 {
  position: absolute;
  left: 0;
}
body nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
body nav.navbar .logo {
  margin: 0;
}
body nav.navbar .navbar-link-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
}
body nav.navbar .navbar-link-list .nav-link {
  text-decoration: none;
  position: relative;
  transition: 0.2s ease-in-out;
  color: rgba(17, 17, 17, 0.7);
}
body nav.navbar .navbar-link-list .nav-link:hover {
  transform: translateY(-2px);
  color: #111;
}
body nav.navbar .navbar-link-list .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  pointer-events: none;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
body nav.navbar .navbar-link-list .nav-link.active {
  color: #EF9A53;
  transition: 0.2s ease-in-out;
}
body nav.navbar .navbar-link-list .nav-link.active::after {
  background-color: #EF9A53;
}
body nav.navbar .navbar-link-list .nav-link.active:hover {
  transform: none;
}
body .content.home {
  margin-left: 150px;
  margin-top: 80px;
}
body .content.home .action {
  margin-top: 40px;
}
body .content.home .content-banner .banner-subtitle {
  margin: 0;
  color: #EF9A53;
}
body .content.home .content-banner .banner-text {
  margin: 10px 0;
  font-size: 3em;
  font-weight: 700;
  line-height: 48px;
}
body .content.home .content-banner .banner-text span {
  color: #EF9A53;
}
body .content.home .content-banner .banner-paragraph {
  margin: 0;
  margin-top: 20px;
  max-width: 500px;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.7);
}
body .content.home .banner-image {
  position: absolute;
  bottom: 0;
  right: 30px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -100;
}
body .content.home .banner-image img {
  height: 100%;
}
body .content.home .banner-image .capsule-icons-wrapper .capsule-icon {
  position: absolute;
  font-size: 2.5em;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body .content.home .banner-image .capsule-icons-wrapper .capsule-icon.gray {
  background-color: rgba(140, 140, 140, 0.2);
  color: rgba(17, 17, 17, 0.7);
  z-index: -1;
}
body .content.home .banner-image .capsule-icons-wrapper .capsule-icon.accent {
  background-color: #EF9A53;
  color: #eee;
}
body .content.home .banner-image .capsule-icons-wrapper .capsule-icon:nth-of-type(1) {
  left: 20px;
  bottom: 20%;
}
body .content.home .banner-image .capsule-icons-wrapper .capsule-icon:nth-of-type(2) {
  right: 50%;
  top: 30%;
  transform: rotate(20deg);
}
body .content.home .banner-image .capsule-icons-wrapper .capsule-icon:nth-of-type(3) {
  right: 40px;
  top: 60%;
}
body .content.home .banner-image .capsule-icons-wrapper .capsule-icon:nth-of-type(4) {
  left: 70px;
  top: 50%;
  transform: rotate(-10deg);
}
body .content.home .banner-image .capsule-icons-wrapper .capsule-icon.small {
  font-size: 2em;
  width: 50px;
  height: 50px;
}
body .content.home .stats-wrapper {
  display: flex;
  gap: 8px;
  margin-top: 120px;
  padding-bottom: 50px;
}
body .content.home .stats-wrapper .stats-card {
  max-width: 180px;
}
body .content.home .stats-wrapper .stats-card h2 {
  margin: 0;
  font-size: 2.5em;
}
body .content.home .stats-wrapper .stats-card p {
  margin: 0;
}
body .content.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
body .content.form .form-wrapper {
  background-color: #fff;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 22px;
  padding: 34px 42px;
}
body .content.form .form-wrapper .form-body {
  margin-top: 20px;
}
body .content.form .form-wrapper h2 {
  margin: 0;
}
body .content.form .form-wrapper h4 {
  color: rgba(17, 17, 17, 0.7);
  margin: 10px 0;
  font-weight: 400;
}
body .content.form .form-wrapper .form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */